body {
   background-color: #083b4c;
   color: #fff;
}
.box {
   height: 100px;
   width: 100px;
   margin: 10px;
   background-color: #1389b2;
   border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
}
.box.odd3 {
   background-color: #0bd6a1;
}
.box.odd5 {
   background-color: #ffd166;
}
.box.odd15 {
   background-color: #f0466f;
}