body {
   background-color: cadetblue;
   color: #fff;
}
.box {
   height: 80px;
   width: 80px;
   margin: 10px;
   background-color: rgb(33, 63, 65);
   border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
}
.box.odd3 {
   background-color: green;
}
.box.odd5 {
   background-color: yellow;
}
.box.odd15 {
   background-color: red;
}